body {
            margin: 0;
            padding: 0;
            background-image: url('BackGround.png');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .social-media-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            background: rgba(209, 167, 42, 0.8);
            padding: 20px;
            border-radius: 10px;
            width: 75%;
            margin-bottom: 20px;
        }

        .social-media-link {
            display: flex;
            align-items: center;
            margin: 10px 0;
            text-decoration: none;
            color: #000;
            font-family: Arial, sans-serif;
            font-size: 18px;
            transition: transform 0.3s;
        }

        .social-media-link h1 {
            margin: 2px 20px; 
	    color: rgba(168, 50, 50, 1);
        }

        .social-media-link img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 50%;
        }

        .social-media-link:hover {
            transform: scale(1.1);
        }

        .code-container {
            background: rgba(209, 167, 42, 0.7);
            padding: 15px;
            border-radius: 10px;
            text-align: center;
            width: 50%;
            font-family: monospace;
            position: relative;
        }

        .code-container pre {
            margin: 0;
            overflow-x: auto;
            background: rgba(58, 58, 58, 0.7);
            padding: 10px;
            text-align: center;
	    font-size: 2.5em;
        }

.code-container button {
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #3A3A3A;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
 }

.code-container button:hover {
        background-color: #A83232;
}
